#titlediv #title {
	background: #f7f7f7;
	border-color: #ddd;
}

#post-body-content .wp-editor-area {
	background: #f9f9f9;
}

.mhm-json {
	font-family: Menlo, Consolas, monospace;
	font-size: 12px;
}
